*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.container{

    display:flex;

    justify-content:center;

    gap:20px;
}

.card{

    width:200px;

    height:150px;

    background:#0077cc;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:10px;
}

/* Mobile Design */

@media(max-width:768px){

    .container{

        flex-direction:column;

        align-items:center;
    }

}